# **2020 US General Election Turnout Rates Data**

Source for dataset: https://www.kaggle.com/imoore/2020-us-general-election-turnout-rates (the Kaggle user pulled this data from this source: https://data.world/government/vep-turnout)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## **Exploratory Data Analysis**

In [ ]:
df = pd.read_csv('2020 November General Election - Turnout Rates.csv')
print(df.shape)
df.head()

(52, 15)

           State  ... State Abv
0  United States  ...       NaN
1        Alabama  ...        AL
2         Alaska  ...        AK
3        Arizona  ...        AZ
4       Arkansas  ...        AR

[5 rows x 15 columns]

52 Rows and 15 column, each row represents voter turnout statistics for each state in the United States

### **Preprocessing**

In [ ]:
df.isna().sum()/df.shape[0]*100 # percentage of missing values for each column

State                                   0.000000
Source                                 23.076923
Official/Unofficial                    51.923077
Total Ballots Counted (Estimate)        0.000000
Vote for Highest Office (President)    53.846154
VEP Turnout Rate                        0.000000
Voting-Eligible Population (VEP)        0.000000
Voting-Age Population (VAP)             0.000000
% Non-citizen                           0.000000
Prison                                  0.000000
Probation                               0.000000
Parole                                  0.000000
Total Ineligible Felon                  0.000000
Overseas Eligible                      98.076923
State Abv                               1.923077
dtype: float64

In [ ]:
df.drop(columns=['Source','Official/Unofficial','Vote for Highest Office (President)','State Abv'], inplace=True)
df.drop(index=[0], inplace=True)
df.head()

        State  ... Overseas Eligible
1     Alabama  ...               NaN
2      Alaska  ...               NaN
3     Arizona  ...               NaN
4    Arkansas  ...               NaN
5  California  ...               NaN

[5 rows x 11 columns]

I dropped the columns that have missing values since most of them are not important for my data analysis and some of the columns are missing more than 50% of the data

In [ ]:
df.fillna(0, inplace=True)
df.head()

        State  ... Overseas Eligible
1     Alabama  ...                 0
2      Alaska  ...                 0
3     Arizona  ...                 0
4    Arkansas  ...                 0
5  California  ...                 0

[5 rows x 11 columns]

In [ ]:
df.isna().sum()

State                               0
Total Ballots Counted (Estimate)    0
VEP Turnout Rate                    0
Voting-Eligible Population (VEP)    0
Voting-Age Population (VAP)         0
% Non-citizen                       0
Prison                              0
Probation                           0
Parole                              0
Total Ineligible Felon              0
Overseas Eligible                   0
dtype: int64

Filled in missing overseas eligible values with zeros in order to produce some visualizations for overseas eligible voters in each state

In [ ]:
df[df['Overseas Eligible'] > 0]

Empty DataFrame
Columns: [State, Total Ballots Counted (Estimate), VEP Turnout Rate, Voting-Eligible Population (VEP), Voting-Age Population (VAP), % Non-citizen, Prison, Probation, Parole, Total Ineligible Felon, Overseas Eligible]
Index: []

There appear to be no overseas eligible voters in this dataset so I am just going to drop the column

In [ ]:
df.drop(columns=['Overseas Eligible'], inplace=True)
df.head()

        State Total Ballots Counted (Estimate)  ...   Parole Total Ineligible Felon
1     Alabama                        2,306,587  ...   10,266                 67,782
2      Alaska                          367,000  ...    1,348                  6,927
3     Arizona                        3,400,000  ...    7,536                 93,699
4    Arkansas                        1,212,030  ...   24,698                 64,974
5  California                       16,800,000  ...  102,586                207,316

[5 rows x 10 columns]

In [ ]:
df['Total Ballots Counted (Estimate)'] = df['Total Ballots Counted (Estimate)'].astype('int')

ValueError: ignored

### **Visualizations**

In [ ]:
df_temp = df.set_index('State')
sns.barplot(x='State', y='VEP Turnout Rate', data=df, 
            order=df_temp['VEP Turnout Rate'].sort_values(ascending=False).index[:15])
plt.xticks(rotation=90)
plt.xlabel('State', weight='bold')
plt.ylabel('VEP Turnout Rate (%)', weight='bold')
plt.show()

TypeError: ignored